///
/// Admin styles
///

@import 'modules/_colors';
@import 'modules/_typography';
@import 'partials/_typography';

html {
	font-size: 16px;
}

body {
	font-family: $sans;
	font-size: 1rem;
	background:$body_bg;
	color: $text_color;
}

.wrap {

	h1,
	h2 {
		font-family: $serif;
		font-weight: normal;
		font-style: normal;
		font-variant: small-caps;
		font-variant-caps: small-caps;
		color: $text_dark;

		@supports ( font-variation-settings: normal ) {
			font-family: $variable_serif;
			letter-spacing: 0.025em;
		}

		> a {
			color: $text_dark;
		}
	}

	> h1 {
		font-size: 2rem;

		@supports ( font-variation-settings: normal ) {
			font-size: 2.25rem;
		}
	}

	h3 {
		font-family: $serif;
		font-size: 1.5rem;
		font-weight: 500;
		color: $text_dark;

		@supports ( font-variation-settings: normal ) {
			font-family: $variable_serif;
			font-size: 1.625rem;
			font-weight: 450;
		}
	}

	.widget-title h3,
	.widget-title h4 {
		font-size: 1.0625rem;
	}

	b,
	strong {
		color: lighten( $color: $text_color, $amount: 10% );
	}

	a {
		b,
		strong {
			color: inherit;
		}
	}

	.welcome-panel {

		.sprc-dashboard-content-wrapper {

			h2 {
				font-size: 1.4375rem;

				@supports ( font-variation-settings: normal ) {
					font-size: 1.5rem;
				}
			}
		}

		.sprc-dashboard-actions {

			h3 {
				font-size: 1.1875rem;

				@supports ( font-variation-settings: normal ) {
					font-size: 1.25rem;
				}
			}
		}
	}

	.select2-container {
		z-index: 9899 !important;
	}

	#poststuff {

		.stuffbox > h3,
		h2,
		h3.hndle {
			font-size: 1.125rem;
			line-height: 1.1;
		}

		#postexcerpt h2 {
			font-size: 1.3125rem;
		}
	}
}

///
/// Admin menu
///
#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
	background-color: $bg_dark;
	color: $header_text_color;
}

#adminmenu {

	a {
		color: $white;
		transition: all .15s !important;
		transition-delay: none !important;

		&:hover,
		&.hover,
		&:focus,
		&.focus {
			box-shadow: none !important;
		}
	}

	li {
		a {
			&.menu-top {
				font-family: $serif;
				font-size: 1rem;
				font-weight: 600;

				@supports ( font-variation-settings: normal ) {
					font-family: $variable_serif;
					font-weight: 550;
				}
			}
		}
	}

	.wp-submenu a {
		color: $white;
	}

	.opensub .wp-submenu li.current a, .wp-submenu li.current, .wp-submenu li.current a, .wp-submenu li.current a:focus, .wp-submenu li.current a:hover, a.wp-has-current-submenu:focus + .wp-submenu li.current a {
		font-size: 0.9375rem;
		font-weight: bold;
		color: $white;

	}

	div.wp-menu-image {
		&:before {
			color: $white;
		}
	}

	.wp-has-current-submenu .wp-submenu,
	.wp-has-current-submenu .wp-submenu.sub-open,
	.wp-has-current-submenu.opensub .wp-submenu,
	a.wp-has-current-submenu:focus + .wp-submenu {
		background-color: $bg_medium;
	}

	.wp-has-current-submenu .wp-submenu .wp-submenu-head,
	.wp-menu-arrow,
	.wp-menu-arrow div,
	li.current a.menu-top,
	li.wp-has-current-submenu a.wp-has-current-submenu {
		font-weight: 500;
		background-color: $bg_light;

		div.wp-menu-image {
			&:before {
				transition: all .15s !important;
				transition-delay: none !important;
			}
		}
	}

	li.menu-top:hover,
	li.opensub > a.menu-top,
	li > a.menu-top:focus,
	.wp-submenu a:focus,
	.wp-submenu a:hover,
	a:hover,
	li.menu-top > a:focus {
		background-color: $bg_light;
		color: $white;

		div.wp-menu-image {
			&:before {
				color: $white;
			}
		}
	}
}

.folded {
	#adminmenu {
		li.current.menu-top,
		li.wp-has-current-submenu {
			background-color: $bg_light;
		}
	}
}

.no-js {

	li.wp-has-current-submenu:hover .wp-submenu {
		background-color: $bg_light;
	}
}

///
/// Custom dashboard
///
.sprc-dashboard-actions-icon {
	color: $text_light;
}

.sprc-dashboard-actions p a {
	color: $text_dark;

	&:hover {
		color: $text_light;
	}
}

.welcome-panel .sprc-dashboard-content-wrapper h2 {
	font-weight: 500;
}

///
/// ACF field groups
///
.spr-location-area-specific-none {
	> div {
		p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
