///
/// Frontend block editor styles
///

@import 'modules/_colors';

// Block editor background color classes.
.has-sprt-text-background-color {
	background-color: $text_color;
}

.has-sprt-light-gray-background-color {
	background-color: $light_gray;
}

.has-sprt-pale-gray-background-color {
	background-color: $pale_gray;
}

.has-sprt-white-background-color {
	background-color: $white;
}

.has-sprt-error-background-color {
	background-color: $error;
}

.has-sprt-warning-background-color {
	background-color: $warning;
}

.has-sprt-success-background-color {
	background-color: $success;
}

// Block editor text color classes.
.has-sprt-text-color {
	color: $text_color;
}

.has-sprt-light-gray-color {
	color: $light_gray;
}

.has-sprt-pale-gray-color {
	color: $pale_gray;
}

.has-sprt-white-color {
	color: $white;
}

.has-sprt-error-color {
	color: $error;
}

.has-sprt-warning-color {
	color: $warning;
}

.has-sprt-success-color {
	color: $success;
}
