///
/// Main content styles
///

@import '../modules/_colors';
@import '../modules/_typography';

.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 2rem 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta,
.entry-footer {
	margin-top: 1em;
}

.entry-footer span {
	margin-right: 1em;
}

.sticky {
	display: block;
}

.site-content {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
		-ms-flex-pack: justify;
	justify-content: space-between;
}

.updated:not(.published) {
	display: none;
}

.entry-title {
	font-size: 2.25em;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content,
.entry-summary {
	max-width: 1024px;
}

.home .entry-content {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding-top: 2rem;
}

.entry-content p,
.entry-content ul,
.entry-content ol {
	font-size: 1.0725em;
}

.entry-content ul {
	list-style: none;
}

.entry-content ul {
	list-style: none;
}

.entry-content strong,
.entry-content b {
	font-weight: 600;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta,
.entry-footer {
	margin-top: 1em;
}

.entry-footer span {
	margin-right: 1em;
}
