///
/// FlexMLS IDX plugin styles
///

@import '../modules/_colors';
@import '../modules/_typography';

.flexmls_connect__sr_divider {
	background: none;
	margin: 0;
}

.flexmls_connect__page_content {

	.flexmls_connect__sr_result {

		.flexmls_connect__sr_idx {
			display: none;
		}
	}

	.flexmls_connect__sr_listing_facts_container {
		float: left;
	}

	.flexmls_connect__sr_listing_facts {

		.flexmls_connect__zebra {
			padding: 0.25em 1em;
			font-size: 0.9375rem;

			&:nth-child( 2n+1 ),
			&:nth-child( 2n+1 ) {
				background-color: $off_white;
			}

			&:last-of-type {
				padding: 0;
				background: none;
			}
		}
	}

	.flexmls_toggle-view {

		a {
			padding: 0.5em;
			cursor: pointer;
			font-family: $serif;
			font-size: 1.25em;
			font-weight: bold;
			font-weight: 500;
			font-style: italic;
			line-height: 1;
			background-color: $button_background_color;
			border-color: $button_border_color;
			color: $button_text_color;

			@supports ( font-variation-settings: normal ) {
				font-family: $variable_serif;
			}

			&.list-view,
			&.map-view {
				border-radius: 0px;
			}

			&.map-view {
				border-left: unset;
			}

			&.active,
			&:hover {
				background-color: $button_action_background_color;
				border-color: $button_action_border_color;
				color: $button_action_text_color;
			}
		}
	}
}

// Custom version of the plugin.
.flexmls-custom_view_header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 2rem;

	.flexmls_toggle-view,
	.flexmls_connect__sr_matches,
	.flexmls_connect__sr_view_options {
		float: none;
	}

	.flexmls_connect__sr_matches {
		order: 1;

		.flexmls_connect__sr_matches_count {
			padding: 0;
			font-size: 2em;
			color: $text_medium;
		}
	}

	.flexmls_connect__sr_view_options {
		order: 2;

		label {
			font-size: 0.9375rem;
			font-weight: bold;
			font-weight: 600;
		}
	}

	.flexmls_toggle-view {
		order: 3;
	}
}

.flexmls_connect__ld_price,
.flexmls_connect__sr_price {
	float: none;
	font-family: $serif;
	font-size: 1.875em;
	font-weight: bold;
	font-weight: 600;
	font-style: italic;
	line-height: 1;
	color: $green;

	@supports ( font-variation-settings: normal ) {
		font-family: $variable_serif;
	}
}

.flexmls_connect__ld_price {

	~p {
		margin: 0;
		color: $text_medium
	}
}

.flexmls_connect__sr_details {
	margin: 1em 0;
}

.flexmls_connect__sr_result {
    margin: 1em 0 0;
	padding: 2em 0 0;
    border-color: $box_border_color;
}

.flexmls_connect__sr_detail,
.flexmls_connect__sr_email_updates,
.flexmls_connect__sr_result {

	a {
		font-size: 0.9375rem;
		font-weight: bold;
		font-weight: 600;

		&:hover {
			text-decoration: none;
		}
	}
}

.flexmls_connect__sr_result {

	.flexmls_connect__sr_address {
		margin: 0 0 0.5em;
		line-height: 1.3;

		a {
			display: inline-block;
			font-size: 1.2rem;
		}
	}

	img {
		padding: 0;
		border-color: $box_border_color;
	}

	.flexmls_connect__sr_listing_facts {
		border: none;
	}
}

.flexmls_connect__ld_button_group button + button {
	margin-left: 0.25rem;
}

.flexmls_connect__idx_disclosure_text {
	margin-top: 1em;

	&.flexmls_connect__disclaimer_text {
		font-size: 0.85em;
		font-style: italic;

		&:before {
			content: '* ';
		}
	}
}

.flexmls_connect__listing_details_page .entry-title {
	display: block;
	line-height: 1.1;
}

.flexmls_connect__button,
.flexmls_connect__page_content button,
.flexmls_connect__sr_detail button {
	border-radius: 0px;
	background-clip: unset;
	color: unset;
	padding: unset;
	font-size: unset;
	white-space: nowrap;
	margin: unset;
	vertical-align: middle;

	display: inline-block;
	width: auto;
	padding: 0.5em;
	cursor: pointer;
	font-family: $serif;
	font-size: 1.25em;
	font-weight: normal;
	font-weight: 500;
	font-style: italic;
	line-height: 1;
	background-color: $button_background_color;
	border-color: $button_border_color;
	color: $button_text_color;
	transition: all .15s;

	@supports ( font-variation-settings: normal ) {
		font-family: $variable_serif;
	}

	&:hover,
	&:focus {
		background-color: $button_action_background_color;
		border-color: $button_action_border_color;
		color: $button_action_text_color;
	}
}

.flexmls_connect__sr_detail .flexmls_connect__tab_div {
	border: none;
}

.flexmls_connect__sr_detail .flexmls_connect__tab.active {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset( 50% );
	        clip-path: inset( 50% );
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;

	&:focus {
		border-radius: 3px;
		clip: auto !important;
		-webkit-clip-path: none;
				clip-path: none;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; // Above user toolbar.
	}
}

.flexmls_connect__sr_detail .flexmls_connect__detail_header,
.flexmls_connect__ld_property_detail {
	padding: 0.5rem 1rem;
}

.flexmls_connect__photo_container,
.flexmls_connect__sr_detail .flexmls_connect__filmstrip {
	width: 100%;
}

.flexmls_connect__photo_container {

		img {
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
			max-height: 720px;
			-o-object-fit: contain;
			   object-fit: contain;
		}
}

.flexmls_connect__sr_detail .flexmls_connect__detail_header {
	margin-top: 0.5em;
    font-family: $serif;
	font-weight: 500;
	font-size: 1.5em;
	font-variant: small-caps;
	font-variant-caps: small-caps;
    display: block;
    background-color: unset;
    color: $text_dark;

	@supports ( font-variation-settings: normal ) {
		font-family: $variable_serif;
		font-size: 1.625em;
		letter-spacing: 0.035em;
	}
}

.flexmls_connect__sr_detail {

	.flexmls_connect__filmstrip {
		height: auto;
		white-space: nowrap;

		img {
			display: inline-block;
			border-color: $box_border_color;
			height: auto;
			margin: 0;
			width: 100%;
			max-width: 100px;
			-ms-interpolation-mode: nearest-neighbor;
			image-rendering: -webkit-optimize-contrast;
			image-rendering: -moz-crisp-edges;
			image-rendering: -o-pixelated;
			image-rendering: pixelated;
			image-rendering: crisp-edges;
		}
	}
}

.flexmls_connect__sr_detail .flexmls_connect__tab {
	background-clip: unset;
	border-top-right-radius: unset;
	-moz-border-radius: unset;
	border-top-left-radius: unset;
	margin: 0;
	vertical-align: unset;
	position: relative;
	top: unset;

	display: inline-block;
	width: auto;
	padding: 0.5em;
	cursor: pointer;
	font-family: $serif;
	font-size: 1.25em;
	font-weight: normal;
	font-weight: 500;
	font-style: italic;
	line-height: 1;
	border: solid 1px $button_border_color;
	color: $button_text_color;
	transition: all .15s;

	&:hover,
	&:focus {
		background-color: $button_action_background_color;
		border-color: $button_action_border_color;
		color: $button_action_text_color;
	}
}

.flexmls_connect__sr_detail a,
.flexmls_connect__sr_email_updates a,
.flexmls_connect__sr_result a {
	margin-top: 0.5em;
}

#flexmls_connect__cboxLoadedContent {
	box-sizing: border-box;
	margin: 0;
	padding: 0 0.5em;
}

.flexmls_connect__PublicRemarks {
	margin-top: 1em;
}

.flexmls_connect__sr_detail {

	h3 {
		font-variant: small-caps;
		font-variant-caps: small-caps;

		@supports ( font-variation-settings: normal ) {
			letter-spacing: 0.035em;
		}
	}
}

.flexmls_connect__sr_detail b {
	color: $text_dark;
}

.flexmls_connect__prev_next {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 2rem;
}

.flexmls_connect__idx_disclosure_text {

	p {
		font-size: 0.9375rem;
		line-height: 1.25;

		&.flexmls_connect__idx_disclosure_text_disclaimer {
			font-style: italic;
		}
	}
}

.flexmls_connect__sr_openhouse {
	margin: 0 0.625rem;
	color: $text_dark;
	font-weight: bold;
	font-weight: 600;

	em {
		font-family: $serif;
		font-weight: 500;
		font-size: 1.5em;
		color: $notify;

		@supports ( font-variation-settings: normal ) {
			font-family: $variable_serif;
			font-size: 1.625em;
		}
	}
}
