///
/// Front page styles
///

@import '../modules/_colors';
@import '../modules/_typography';

.static-front {

	// Same as `.screen-reader-text`.
	.entry-title {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		-webkit-clip-path: inset(50%);
				clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important;
	}
}

.front-page-hero {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	clear: both;
	width: 100vw;
	max-width: 2560px;
	overflow-x: hidden;
	margin: 0 auto;
	background: $body_bg_dark;
	color: $white;
}

.custom-header-media {
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba( $color: $black, $alpha: 0.35 )
	}

	img {
		display: block;
		-o-object-fit: cover;
		   object-fit: cover;
		width: 100%;
	}
}

.front-page-hero-content {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: $serif;
	font-size: 1.5em;
	text-align: center;

	@supports ( font-variation-settings: normal ) {
		font-family: $variable_serif;
	}

	h3 {
		margin: 0;
		font-family: $serif;
		font-size: 2em;
		font-weight: normal;
		font-weight: 500;
		font-style: normal;
		font-variant: small-caps;
		font-variant-caps: small-caps;
		line-height: 1;
		color: $white;
		text-shadow: 0.05em 0.05em 0.075em rgba( $color: $black, $alpha: 0.85 );

		@supports ( font-variation-settings: normal ) {
			font-family: $variable_serif;
			font-size: 2.25em;
			font-weight: 350;
		}
	}

	p {
		margin-top: 0.3em;
		margin-top: 0.5vh;
		text-shadow: 0.05em 0.05em 0.075em rgba( $color: $black, $alpha: 0.85 );
	}

	a {
		color: $white;
		text-shadow: 0.05em 0.05em 0.075em rgba( $color: $black, $alpha: 0.85 );
	}

	.hero-menu {
		list-style: none;
		display: flex;
		justify-content: center;
		width: 100%;

		li {
			display: inline-block;

			&:not( :last-of-type ) {
				margin-right: 0.5em;

				&:after {
					content: '•';
					display: inline-block;
					padding-left: 0.5em;
					font-size: 0.8em;
					transform: translateY( -2px );
				}
			}

			a {
				position: relative;

				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
					bottom: -5px;
					width: 100%;
					height: 2px;
					background-color: transparent;
					transition: all .15s;
				}

				&:hover {
					&:before {
						background-color: $white;
					}
				}
			}
		}
	}

	.front-page-hero-scroll-content {
		display: inline-block;
		transition: all .15s;

		svg {
			height: 30px;
			margin-top: 1em;
			fill: $white;
		}

		&:hover {
			transform: translateY( 0.25em );
		}
	}
}

.hero-logo {
	max-width: 280px;
	margin-bottom: 1em;
}

.front-acf-content > section {
	&:not( :first-of-type ) {
		border-top: solid 1px $box_border_color;
		margin-top: 4rem;
		padding-top: 1em;
	}
}

.front-content-block-message p {
	font-size: 1.25em;
	text-align: center;
}

.static-front .entry-content h2 {
	font-family: $serif;
	font-size: 2.85em;
	text-align: center;
	line-height: 1;

	@supports ( font-variation-settings: normal ) {
		font-family: $variable_serif;
	}
}

.front-intro-content {
	margin-top: 2em;

	img {

		&.size-thumbnail,
		&.size-medium-thumbnail,
		&.size-large-thumbnail,
		&.size-x-large-thumbnail {
			border-radius: 50%;
		}
	}
}

.front-intro-content > h1,
.front-intro-content > h2 {
	margin: 0;
}

.front-intro-content p {
	font-size: 1.25em;
	line-height: 1.6;
	letter-spacing: -0.005em;
}

@media screen and (max-width: 640px) {

	.front-page-hero-content h3 {
		font-size: 2em;
	}
}

/* Featured properties */
.front-featured-properties .slick-arrow {
	position: absolute;
	top: 0;
	z-index: 100;
	cursor: pointer;

	@supports ( font-variation-settings: normal ) {
		font-family: $variable_serif;
	}
}

.front-featured-properties .slick-prev.slick-arrow {
	left: 0;
}

.front-featured-properties .slick-next.slick-arrow {
	left: auto;
	right: 0;
}

.front-featured-properties .slick-prev.slick-arrow:before {
	content: '←';
	display: inline-block;
	margin-right: 0.25em;
}

.front-featured-properties .slick-next.slick-arrow:after {
	content: '→';
	display: inline-block;
	margin-left: 0.25em;
}

.featured-location {
	margin: 0;
}

.front-featured-properties ul li .location:not(:last-of-type):after {
	content: '|';
	margin: 0 0.3em;
	color: $pale_gray;
}

.entry-content .front-featured-properties ul {
	padding: 0;
}

.featured-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.front-featured-properties h4 {
	margin-top: 3rem;
	font-size: 1.5em;
	color: #555;
	font-variant: small-caps;
	letter-spacing: 0.025em;
}

.entry-content p.featured-price {
	margin: 0;
	font-family: $serif;
	font-size: 1.875em;
	font-weight: bold;
	font-weight: 600;
	font-style: italic;
	color: $green;

	@supports ( font-variation-settings: normal ) {
		font-family: $variable_serif;
	}
}

.featured-location {
	margin: 0;
	font-size: 1.2em;
	font-weight: 600;
}

.front-featured-properties img {
	display: block;
	margin-top: 10px;
}

.featured-details-link {
	text-align: right;
}

/* Image links */
.front-image-links {
	border-top: solid 1px $box_border_color;
	margin-top: 4rem;
	padding-top: 1em;
}

.front-image-links ul {
	display: grid;
	grid-template-columns: repeat( 1, 1fr );
	grid-gap: 1em;
}

@media screen and (min-width: 801px) {

	.front-image-links ul {
		grid-template-columns: repeat( 3, 1fr );
	}
}

.front-image-links {

	figure {
		position: relative;
		overflow: hidden;
	}

	figcaption {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		background: rgba( $color: $black, $alpha: 0.3 );
		transition: background .15s;
		font-family: $serif;
		font-size: 1.5em;
		font-weight: normal;
		font-weight: 500;
		font-style: italic;
		text-align: center;
		letter-spacing: 0.03em;

		@supports ( font-variation-settings: normal ) {
			font-family: $variable_serif;
		}

		&:hover {
			background: rgba( $color: $black, $alpha: 0.5 );
		}
	}

	a {
		color: $white;
		text-shadow: 0.05em 0.05em 0.075em rgba( $color: $black, $alpha: 0.85 );
	}

	img {
		display: block;
	}
}
