///
/// Front page styles
///

.front-page-hero-content {

	#hero-menu {
		li {
			&:not( :last-of-type ) {
				margin-right: unset;
				margin-left: 0.5em;

				&:after {
					padding-left: unset;
					padding-right: 0.5em;
				}
			}
		}
	}
}
