///
/// Front page styles
///

@import '../modules/_colors';
@import '../modules/_typography';

.static-front {

	// Same as `.screen-reader-text`.
	.entry-title {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		-webkit-clip-path: inset(50%);
				clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important;
	}

	#contact-office-sidebar {
		margin-top: 3rem;
	}
}

.front-page-hero {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	clear: both;
	width: 100vw;
	max-width: 2560px;
	overflow-x: hidden;
	margin: 0 auto;
	background-color: $bg_dark;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba( $color: $black, $alpha: 0.35 )
	}
}

@-webkit-keyframes spinner {
	from {-webkit-transform: rotate( 0deg );transform: rotate( 0deg );}
	to {-webkit-transform: rotate( 359deg );transform: rotate( 359deg );}
}

@keyframes spinner {
	from {-webkit-transform: rotate( 0deg );transform: rotate( 0deg );}
	to {-webkit-transform: rotate( 359deg );transform: rotate( 359deg );}
}

.front-page-hero-loader {
	z-index: 9998;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $white;

	.loading {
		margin-top: 1em;
		font-family: $sans;
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1;
	}

	.spinner {
		border: 2px solid rgba( $color: $white, $alpha: 0.25 );
		border-top: 2px solid rgba( $color: $white, $alpha: 1 );
		border-radius: 100%;
		height: 64px;
		width: 64px;
		-webkit-animation: spinner .8s infinite linear;
				animation: spinner .8s infinite linear;
		background: transparent;
		z-index: 9999;
	}
}

.front-page-hero-content {
	position: relative;
	overflow: hidden;
	z-index: 100;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 10vw 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: $variable_serif;
	font-size: 1.5em;
	text-align: center;

	&.hero-has-loader {
		opacity: 0;

		/// Match transition speed & delay to
		/// loader fade speed in `footer.php`.
		transition: opacity .500s;
		transition-delay: .500s;
	}

	h3 {
		margin: 0;
		font-family: $variable_serif;
		font-size: 2.25em;
		font-weight: normal;
		font-weight: 350;
		font-style: normal;
		font-variant: small-caps;
		font-variant-caps: small-caps;
		line-height: 1;
		color: $white;
		text-shadow: 0.05em 0.05em 0.075em rgba( $color: $black, $alpha: 0.85 );
	}

	p {
		margin-top: 0.3em;
		margin-top: 0.5vh;
		line-height: 1.1;
		text-shadow: 0.05em 0.05em 0.075em rgba( $color: $black, $alpha: 0.85 );
	}

	a {
		color: $white;
		text-shadow: 0.05em 0.05em 0.075em rgba( $color: $black, $alpha: 0.85 );
	}

	.hero-menu {
		list-style: none;
		display: flex;
		justify-content: center;
		width: 100%;

		li {
			display: inline-block;

			&:not( :last-of-type ) {
				margin-right: 0.5em;

				&:after {
					content: '•';
					display: inline-block;
					padding-left: 0.5em;
					font-size: 0.8em;
					transform: translateY( -2px );
				}
			}

			a {
				position: relative;

				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
					bottom: -5px;
					width: 100%;
					height: 2px;
					background-color: transparent;
					transition: all .15s;
				}

				&:hover {
					&:before {
						background-color: $white;
					}
				}
			}
		}
	}

	.front-page-hero-scroll-content {
		display: inline-block;
		transition: all .15s;

		svg {
			height: 30px;
			margin-top: 1em;
			fill: $white;
		}

		&:hover {
			transform: translateY( 0.25em );
		}
	}

	.flexmlsLocationSearch {
		overflow: hidden !important;
	}
}

.site-loaded {
	.front-page-hero-content.hero-has-loader {
		opacity: 1;
	}
}

.hero-logo {
	max-width: 280px;
	margin-bottom: 1em;
}

.front-acf-content > section {
	&:not( :first-of-type ) {
		border-top: solid 1px $box_border_color;
		margin-top: 4rem;
		padding-top: 1em;
	}
}

.front-content-section {

	.front-content-block-message p {
		font-size: 1.125em;
	}

	&.front-image-links {
		p {
			text-align: center;
		}
	}
}

.static-front .entry-content h2 {
	font-family: $variable_serif;
	font-size: 2.85em;
	text-align: center;
	line-height: 1;
}

.front-intro-content {
	margin-top: 2em;

	img {

		&.size-thumbnail,
		&.size-medium-thumbnail,
		&.size-large-thumbnail,
		&.size-x-large-thumbnail {
			border-radius: 50%;
		}
	}
}

.front-intro-content > h1,
.front-intro-content > h2 {
	margin: 0;
}

.front-intro-content p {
	font-size: 1.25em;
	line-height: 1.6;
	letter-spacing: -0.005em;
}

@media screen and (max-width: 640px) {

	.front-page-hero-content h3 {
		font-size: 2em;
	}
}

/* Featured properties */
.front-featured-properties {
	margin-bottom: 5rem;

	.front-content-block-message {
		text-align: center;
	}

	.slick-track {
		margin-top: 1rem;
	}

	.front-featured-slides {
		list-style: none;
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;

		li {
			display: flex !important;
			flex-direction: column;
			align-items: center;
			height: 100%;

			h3 {
				margin: 0;
				font-size: 1.125rem;
			}
		}
	}

	///
	/// FlexMLS plugin
	///
	.flexmls_connect__carousel .flexmls_connect__count,
	.flexmls_connect__carousel_nav,
	.flexmls_connect__disclaimer {
		display: none !important;
	}

	.flexmls_connect__listing {
		width: 100% !important;
	}

	.flexmls_popup {
		max-height: 360px !important;

		img {
			object-fit: cover;
			max-height: 360px !important;
		}
	}

	.slick-arrow {
		position: absolute;
		bottom: -4rem;
		z-index: 100;
		cursor: pointer;
		font-family: $variable_serif;

		&.slick-prev {
			left: 0;
		}

		&.slick-next {
			left: auto;
			right: 0;
		}
	}
}

/* Staff Members */
.front-staff-members {

	.front-content-block-message {
		text-align: center;
	}

	.front-staff-slides {
		list-style: none;
		display: flex;
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;

		li {
			display: inline-block !important;
			width: 33.33326%;
			width: calc( 100% / 3 );
			height: 100%;
			padding: 0.5rem;
			font-size: 0.9375rem;
			line-height: 1.4;

			@media screen and (min-width: 801px) {
				width: 50%;
			}

			> div:first-of-type {
				display: inline-block;
				padding: 1.5rem;
				border: solid 1px $box_border_color;
			}

			p.bio {
				text-align: justify;

				.front-staff-read-more {
					font-weight: bold;
					font-weight: 600;
				}
			}

			figure {
				width: 100%;
				display: inline-flex;
				flex-direction: column;
				align-items: center;

				img {
					display: block;
				}

				figcaption {
					text-align: center;

					h4 {
						margin-top: 0.5rem;
						font-size: 1.125rem;
						line-height: 1.2;
						color: $text_light;
					}

					p {
						margin-top: 0.25em;
						font-family: $variable_serif;
						font-size: 1.1875rem;
						font-weight: bold;
						font-weight: 550;
						font-style: italic;
						line-height: 1.2;
						color: $medium_gray;
					}
				}
			}
		}
	}
}

.front-staff-modal {
	display: none;
	max-width: 480px !important;
	padding: 1.5rem !important;

	.modal-heading {
		margin: 0;
		font-size: 1.0625rem;
		font-weight: bold;
		font-weight: 600;
		line-height: 1.2;
		color: $text_light;

		+ p {
			margin-top: 0.25em;
			font-family: $variable_serif;
			font-size: 1.1875rem;
			font-weight: bold;
			font-weight: 550;
			font-style: italic;
			line-height: 1.2;
			color: $medium_gray;
		}
	}

	img {
		margin-top: 0;
	}
}

/* Image links */
.front-image-links {
	border-top: solid 1px $box_border_color;
	margin-top: 4rem;
	padding-top: 1em;
}

.front-image-links ul {
	display: grid;
	grid-template-columns: repeat( 1, 1fr );
	grid-gap: 1em;
}

@media screen and (min-width: 801px) {

	.front-image-links ul {
		grid-template-columns: repeat( 3, 1fr );
	}
}

.front-image-links {

	figure {
		position: relative;
		overflow: hidden;
	}

	figcaption {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		background: rgba( $color: $black, $alpha: 0.3 );
		transition: background .15s;
		font-family: $variable_serif;
		font-size: 1.5em;
		font-weight: normal;
		font-weight: 500;
		font-style: italic;
		text-align: center;
		letter-spacing: 0.03em;

		&:hover {
			background: rgba( $color: $black, $alpha: 0.5 );
		}
	}

	a {
		color: $white;
		text-shadow: 0.05em 0.05em 0.075em rgba( $color: $black, $alpha: 0.85 );
	}

	img {
		display: block;
	}
}
