///
/// Site header styles
///

@import '../modules/_colors';
@import '../modules/_typography';

.site-header-wrap {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 9999;
	width: 100vw;
	padding: 1rem 2rem;
	background-color: $header_bg_color;
	// border-bottom: solid 1px $box_border_color;

	&.stuck {
		padding: 0.5em 2em;
		// box-shadow: 0px 5px 15px -6px rgba( $color: $black, $alpha: 0.625 );

		.site-branding {
			img {
				max-width: 50px;
			}
		}

		.site-title {
			font-size: 1.625rem;
			transform: translateX( -24px );
		}
	}

	.inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
	}
}

.logged-in.admin-bar {
	.site-header-wrap {
		top: 32px;

		@media screen and ( max-width: 782px ) {
			top: 46px;
		}
	}
}

.site-header {
	width: 100%;
	min-width: 460px;
}

.site-branding {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 2em;

	.site-title {
		margin: 0;
		font-family: $serif;
		font-size: 2em;
		font-weight: normal;
		font-weight: 500;
		font-style: italic;
		font-variant: unset;
		font-variant-caps: unset;
		color: $header_text_color;
		// transform: translateX( -34px );
		transition: all 0.2s;

		@supports ( font-variation-settings: normal ) {
			font-family: $variable_serif;
			font-size: 2.25em;
			font-weight: 450;
		}

		& a {
			color: inherit;
			text-decoration: inherit;
		}
	}

	.site-description {
		margin: 0;

		// Same as `.screen-reader-text`.
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		-webkit-clip-path: inset(50%);
				clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important;
	}

	img {
		margin-right: 1em;
		max-width: 80px;
		transition: all 0.2s;
	}
}

.site-header-image {
	margin: 1em 0;
}

.site-header-contact {
	font-size: 1.285em;
	font-family: $serif;
	font-weight: 500;
	font-style: italic;
	line-height: 1.25;
	color: $medium_gray;

	@supports ( font-variation-settings: normal ) {
		font-family: $variable_serif;
		font-size: 1.5em;
		font-weight: 450;
	}

	p {
		margin-top: 0.3em;
	}

	a {
		color: $medium_gray;
		text-decoration: none;
		transition:	color .15s;

		&:hover {
			color: $link_action_color;
		}
	}
}

@media screen and ( min-width: 37.5em ) {

	.site-header {
		width: auto;
	}

	.site-branding {
		justify-content: flex-start;
	}
}
