///
/// Site header RTL styles
///

#info-bar {

	.info-bar-one {
		li {
			margin-right: unset;
			margin-left: 0.5em;
		}
	}

	.info-bar-two {
		li {
			margin-left: unset;
			margin-right: 0.5em;
		}
	}
}
