///
/// Site layout styles
///

@import '../modules/_layout';

.site {
	position: relative;
	// background-color: $off_white;
}

.custom-background {
	.site {
		background-color: transparent;
	}
}

.site-content {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	max-width: $wrapper_width;
	height: 100%;
	margin: 0 auto;
	padding: 0 2rem 2rem;
	background-color: $white;
	box-shadow: 0px 0px 300px 50px #dddddd;

	.content-area {
		width: 100%;
	}
}

.shortcode-section {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	max-width: $wrapper_width;
	height: 100%;
	margin: 0 auto;
	background-color: inherit;

	.shortcode-section-content {
		width: 100%;
	}
}

body:not( .no-sidebar ) {

	.site-content {
		.content-area {
			margin-left: 2em;
		}
	}

	.shortcode-section {
		.shortcode-section-content {
			margin-left: 2em;
		}
	}
}

main article {
	clear: both;
}

.two-panel-content {
	display: flex;
	margin-top: 2rem;

	& > div {
		min-width: 360px;

		&:first-of-type {
			margin-right: 1rem;
		}

		&:last-of-type {
			margin-left: 1rem;
		}
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

#secondary {
	min-width: 240px;
	margin-top: 3rem;
	color: $sidebar_text_color;
}

@media screen and ( max-width: 768px ) {

	.site-content,
	.shortcode-section {
		flex-direction: column;
	}

	body:not( .no-sidebar ) {

		.site-content {
			.content-area {
				margin-left: unset;
			}
		}

		.shortcode-section {
			.shortcode-section-content {
				margin-left: unset;
			}
		}
	}
}

.dark-mode {

	.site-content {
		background-color: $body_bg_dark;
		box-shadow: 0px 0px 300px 50px darken( $color: $body_bg_dark, $amount: 4% );
	}
}
