///
/// Navigation styles
///

.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	max-width: 1280px;
	margin: 1em auto 0;
	padding: 0 2em;
	font-family: $serif;
	font-variant: small-caps;
	font-variant-caps: small-caps;
	line-height: 1;

	@supports ( font-variation-settings: normal ) {
		font-family: $variable_serif;
		font-size: 1.35rem;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background-color: inherit;

		ul {
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			width: 100%;
			min-width: 240px;
			padding-top: 1em;
			background-color: $white;
			-webkit-box-shadow: 3px 3px 5px rgba( $color: $black, $alpha: 0.5 );
					box-shadow: 3px 3px 5px rgba( $color: $black, $alpha: 0.5 );

			ul {
				left: -999em;
				top: 0;
				padding-top: 0;
			}

			li:hover > ul,
			li.focus > ul {
				left: 100%;
			}

			li {
				line-height: 1.25em;

				a {
					width: 100%;
					padding: 0.25em 0.75em;

					&:hover,
					&:focus {
						background: $bg_pale;
						color: inherit;
					}
				}
			}
		}
	}

	li {
		overflow: visible;

		&:hover > ul,
		&:focus > ul,
		&.focus > ul {
			left: 0;
		}
	}

	a {
		display: inline-block;
		text-decoration: none;
	}
}

// Mobile menu.
.menu-toggle {
	font-size: 1.25em;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.site-main {

	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		margin: 0 0 1.5em;
		overflow: hidden;

		.nav-previous {
			float: left;
			width: 50%;
		}

		.nav-next {
			float: right;
			text-align: right;
			width: 50%;
		}
	}
}

.dark-mode {
	.main-navigation {
		ul {
			ul {
				background: $dark_gray;

				li {
					a {
						&:hover,
						&:focus {
							background: $medium_gray;
						}
					}
				}
			}
		}
	}
}

// Non-mobile menu.
@media screen and ( min-width: 37.5em ) {

	.menu-toggle {
		display: none;
	}

	.main-navigation {

		ul {
			display: flex;

			li {
				position: relative;

				&:not(:last-of-type) {
					margin-right: 1em;
				}
			}

			ul {
				display: block;

				li {
					&:not(:last-of-type) {
						margin-right: 0;
					}
				}
			}
		}
	}
}
